- block:
    - name: Setup data root for docker
      include_tasks: setup_data_root.yml
  when: docker_data_root is defined and docker_data_root != ""

- block:
    - name: Update pacman package cache
      community.general.pacman:
        update_cache: true # pacman -Sy

    - name: Install Docker package
      community.general.pacman:
        name:
          - docker
          - docker-compose
        state: present

    - name: Ensure Docker service is enabled and started
      ansible.builtin.systemd_service:
        name: docker.service
        state: started
        enabled: true
# - block:
#     - name: Set environment variables for Docker proxy
#       copy:
#         dest: /etc/systemd/system/docker.service.d/proxy.conf
#         content: |
#           [Service]
#           Environment="HTTP_PROXY={{ proxy }}"
#           Environment="HTTPS_PROXY={{ proxy }}"
#           Environment="NO_PROXY={{ no_proxy }}"
#       when: proxy is defined and proxy != ""
#
#     - name: Reload systemd manager configuration
#       command: systemctl daemon-reload
#
#     - name: Restart Docker to apply proxy config
#       service:
#         name: docker
#         state: restarted
#         enabled: yes

