- block:
    - name: Setup data root for docker
      include_tasks: setup_data_root.yml
  when: docker_data_root is defined and docker_data_root != ""

- block:
    - name: Install requirement packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present
        update_cache: yes

    - name: Create directory for keyrings
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"

    - name: Download Docker GPG key
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"
        force: yes
      environment: "{{ (proxy | default('') | trim) | ternary({'http_proxy': proxy, 'https_proxy': proxy}, {}) }}"

    - name: Set appropriate permissions on the GPG key
      file:
        path: /etc/apt/keyrings/docker.asc
        mode: "0644"
        owner: root
        group: root

    - name: Get dpkg architecture
      shell: dpkg --print-architecture
      register: dpkg_arch

    - name: Add Docker repository to APT sources
      apt_repository:
        repo: "deb [arch={{ dpkg_arch.stdout }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release | lower }} stable"
        state: present
        filename: docker

    - name: Update apt
      apt:
        update_cache: yes

    - name: Install docker docker-compose
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: latest

- name: Setup Docker proxy
  include_tasks: setup_proxy.yml
  when: proxy is defined and proxy != ""
